<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cqsw.mapper.LateMapper">
    <resultMap id="r1" type="cn.cqsw.pojo.Late">
        <id property="lid" column="lid"></id>
        <result property="date" column="date"></result>
        <result property="remark" column="remark"></result>
        <association property="student" column="sid"
                     select="cn.cqsw.mapper.StudentMapper.selectStudentBySid3"></association>
        <association property="buildingAdmin" column="baid"
                     select="cn.cqsw.mapper.BuildingAdminMapper.selectBuildingAdminByBaid"></association>
    </resultMap>
    <select id="selectLatesBySid2" resultMap="r1">
    select * from late where sid=#{sid} ORDER BY date ASC
    </select>
    <select id="selectLates" resultMap="r1">
    select * from late ORDER BY date ASC
    </select>
</mapper>