<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cqsw.mapper.QuitMapper">
    <resultMap id="r1" type="cn.cqsw.pojo.Quit">
        <id property="qid" column="qid"></id>
        <result property="date" column="date"></result>
        <result property="quitRemark" column="quitRemark"></result>
        <association property="student" column="sid"
                     select="cn.cqsw.mapper.StudentMapper.selectStudentBySid2"></association>
        <association property="buildingAdmin" column="baid"
                     select="cn.cqsw.mapper.BuildingAdminMapper.selectBuildingAdminByBaid"></association>
    </resultMap>
    <select id="selectQuits" resultMap="r1">
        select * from quit
    </select>
</mapper>